* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
}

.container {
  width: 100%;
  height: 100vh;
}

.spinner {
  width: 100px;
  height: 100px;
  background: linear-gradient(90deg, #009fff, #ec2f4b);
  border-radius: 50%;
  position: relative;
  animation: rotate 2s linear infinite;
}

.spinner::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: black;
  width: 80%;
  height: 90%;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px black;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
